.wodButton {
  position: fixed;
  bottom: 63px;
  left: 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.selectInput {
  -webkit-box-shadow: inset 0 0 10px #000;
  -moz-box-shadow: inset 0 0 10px #000;
  box-shadow: inset 0 0 10px #000;

  background: transparent;
}
.selectInput:focus {
  outline: none;
}
