.cards-container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin: 30px auto;
  width: 85%;
  /* border: 2px solid gray; */
  padding: 1%;
}
.searchInput {
  width: 285px;
  background-color: #6b6b6b;
  font-weight: 300;
  font-style: italic;
  color: white;
}
.searchInput::placeholder {
  color: white;
}
