.cards-container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin: 30px auto;
  width: 85%;
  padding: 1%;
}
.searchInput {
  width: 240px;
  background-color: #ffffff;
  font-weight: 300;
  font-style: italic;
  color: rgb(255, 255, 255);
  -webkit-box-shadow: inset 0 0 10px #000;
  -moz-box-shadow: inset 0 0 10px #000;
  box-shadow: inset 0 0 10px #000;

  background: transparent;
}
.searchInput::placeholder {
  color: #ffffff;
  text-align: center;
}
.searchInput:focus {
  outline: none;
}
