.cards-container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin: 30px auto;
  width: 85%;
  padding: 1%;
}
.searchInput {
  width: 200px;
  background-color: #ffffff;
  font-weight: 300;
  font-style: italic;
  color: rgb(104, 104, 104);
}
.searchInput::placeholder {
  color: rgb(124, 124, 124);
}
