.detailsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.addwod {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.infoSection {
  display: flex;
  align-items: center;
  justify-content: center;
}
.prSlider {
  width: 32px;
  padding: 0px 16px;
  min-height: 440px;
  -webkit-appearance: slider-vertical;
}
