.imageIcon {
  object-fit: cover;
  image-orientation: from-image;
  width: 45px;
  height: 45px;
  border-color: rgb(153, 147, 147);
  border-width: 2px;
  border-style: double;
  border-radius: 50%;
  background-position: 50%;
  background-size: cover;
  vertical-align: middle;
}
.athleteheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.534) !important;
  margin-bottom: 0px !important;
}
