.wodBody {
  background-image: url("./blackboard.jpg");
}
.wodHeader {
  border-bottom: 0.3px solid rgba(255, 255, 255, 0.534) !important;
  margin-bottom: 0px !important;
}
.imageIcon {
  object-fit: cover;
  image-orientation: from-image;
  width: 40px;
  height: 40px;
  border-color: rgb(153, 147, 147);
  border-width: 2px;
  border-style: double;
  border-radius: 50%;
  background-position: 50%;
  background-size: cover;
  vertical-align: middle;
}
