.addform {
  background-color: #383838;
  border: 1px ridge white;
}
.modalHeader {
  background-color: #1f1f1f;
  border: 2px ridge white;
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 0.5rem !important;
}
.modalFooter {
  background-color: #1f1f1f;
  border: 2px ridge white;
  position: sticky;
  bottom: 0;
  z-index: 100;
  justify-content: space-around !important;
  padding: 0.5rem !important;
}
.labelClass {
  color: white !important;
}
.active {
  color: #00c851 !important;
}
.addAthleteInput {
  color: #fff !important;
  border-bottom: 1px solid white !important;
  box-shadow: none !important;
}
