.loading {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2000;
}
.loading-wheel {
  width: 20px;
  height: 20px;
  margin-top: -40px;
  margin-left: -40px;

  position: absolute;
  top: 50%;
  left: 50%;

  border-width: 30px;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
.style-2 .loading-wheel {
  border-style: double;
  border-color: #ccc transparent;
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
.overlayText {
  font-size: 50px;
  text-align: center;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -140px;
  margin-left: -135px;
}

.overlayItems {
  display: flexbox;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 17%;
}
